body {
  margin: 0;
  font-weight: 100;
  font-family: sans-serif;

}

.nav-container {
  width: 50px;
  /*width: 100%;*/
}

.navbar {
  align-items: center;
  display: flex;
  justify-content: space-around;; /* justify-content: space-around; */
  flex-direction: row;
  padding: 15px;
  border-top: 3px solid #F48024;
  border-bottom: 1px solid 	#D3D3D3;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  max-height: 40px;
  z-index: 10;
  background: white;
  left: 0;
  right: 0;
}

input[type=text] {
    width: 150px;
    height: 15px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 2px;
    font-size: 14px;
    background-color: white;
    background-image: url('searchicon.png');
    background-position: 5px 10px;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

 #logo{
  float: left;
  height: 40px;
  width: auto;

}

#signup{
  float: right;
  border-radius: 4px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  color: #FFF;
  background-color: #0095ff;
  border-color: #07c;
  box-shadow: inset 0 1px 0 #66bfff;
  /*width: 74.25px;
  height: 32px;*/
}

.userinfo {
  align-items: center;
  display: flex;
  justify-content: space-between; /* justify-content: space-around; */
  flex-direction: row;
}

.nav-tags {
  align-items: center;
  display: flex;
  justify-content: space-around; /* justify-content: space-around; */
  flex-direction: row;
}

#current-user {
  margin-left: 10px;
}
#default-icon {
  margin-left: 10px;
}

#nav-questions {
  margin-left: 10px;
  text-decoration: none;
}

a:link, a:visited, a:hover{
  text-decoration: none;
}

a:link{
  color: blue;
}
a:hover{
  color: lightblue;
}


#nav-answers {
  margin-left: 10px;
}
#nav-users {
  margin-left: 10px;
}

.container-fluid {
  height: 100vh;
  /*margin-top: 40px;*/
  padding-top: 80px;
  padding-bottom: 70px;
  position: relative;
  background: white;
  opacity: 0.9;
  width: 50%;
  margin: 0px auto;
}

#subheader {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  flex-direction: row;
  color: black;
  font-size: 12px;
  /*padding: inherit;*/
  /*border-bottom: 1px solid #D3D3D3;*/
  margin-bottom: 10px;
  /*width: 728px;*/
}

.summary-bar{
  display: flex;
  align-items: center;
  /*justify-content: space-between;*/
  flex-direction: row;
  color: black;
  font-size: 12px;
  /*padding: inherit;*/
  /*border-bottom: 1px solid #D3D3D3;*/
  /*width: 728px;*/
}

.summary-box{
  border-top: 1px solid #F48024;
  border-left: 1px solid #D3D3D3;
  border-right: 1px solid #D3D3D3;
  /**/
  padding: 10px 5px 5px 5px;
  /*margin-bottom: 10px;*/
}

.summ-rest {
  border-bottom: 1px solid #D3D3D3;
}


.section-header{
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  flex-direction: row;
  color: black;
  font-size: 12px;
  /*padding: inherit;*/
  border-bottom: 1px solid #D3D3D3;
  margin-bottom: 10px;
  /*width: 728px;*/
}

.votes{
  margin-top: 20px;
  margin-right: 40px;
  color: #F48024;
}

#score{
  color: #F48024;
  /*font-size: 16px;*/
}

.question-list-item {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding-bottom: 10px;
}

.vote-box {
  text-align: center;
  border: 1px solid #D3D3D3;
  padding: 10px;
  margin-right: 10px;
}

.title {
  font-size: 18px;
  padding: 10px;
}

.activity-cnt {
  color: grey;
  text-decoration: none;
}
